{% extends "base.html" %}

{% block title %}Limpeza de Dados{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Limpeza de Dados</h2>

    <form action="/remove_nulls" method="POST" class="mt-3" id="removeNullsForm">
        <div class="form-group">
            <label>Selecione as colunas para remover valores nulos:</label><br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="select_all_null" />
                <label class="form-check-label" for="select_all_null">Selecionar Todas</label>
            </div>

            {% for coluna in column_names %}
            <div class="form-check form-check-inline">
                <input class="form-check-input null-column-checkbox" type="checkbox" name="columns_to_remove" value="{{ coluna }}"
                    id="remove_null_{{ coluna }}">
                <label class="form-check-label" for="remove_null_{{ coluna }}">{{ coluna }}</label>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="comment">Comentário (Opcional):</label>
            <input type="text" class="form-control" id="comment" name="comment" placeholder="Adicione um comentário..."></input>
        </div>
        <button type="submit" class="btn btn-danger">Remover Linhas com Valores Nulos</button>
    </form>

    <form action="/remove_columns" method="POST" class="mt-3" id="removeColumnsForm">
        <div class="form-group">
            <label>Selecione as colunas para remover:</label><br>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="select_all" />
                <label class="form-check-label" for="select_all">Selecionar Todas</label>
            </div>
            {% for coluna in column_names %}
            <div class="form-check form-check-inline">
                <input class="form-check-input column-checkbox" type="checkbox" name="columns_to_remove" value="{{ coluna }}"
                 id="remove_{{ coluna }}">
                <label class="form-check-label" for="remove_{{ coluna }}">{{ coluna }}</label>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="comment">Comentário (Opcional):</label>
            <input type="text" class="form-control" id="comment" name="comment" placeholder="Adicione um comentário..."></input>
        </div>
        <button type="submit" class="btn btn-danger">Remover Colunas</button>
    </form>

    <form action="/remove_rows" method="POST" class="mt-3" id="removeRowsForm">
        <div class="form-group">
            <label for="start_row">Início:</label>
            <input type="number" class="form-control" id="start_row" name="start_row" min="0">
            <label for="end_row">Fim:</label>
            <input type="number" class="form-control" id="end_row" name="end_row" min="0">
            <input type="hidden" id="sort_column" name="sort_column" value="{{ request.args.get('sort_column', '') }}">
            <input type="hidden" id="sort_order" name="sort_order" value="{{ request.args.get('sort_order', 'asc') }}">
        </div>
        <div class="form-group">
            <label for="comment">Comentário (Opcional):</label>
            <input type="text" class="form-control" id="comment" name="comment" placeholder="Adicione um comentário..."></input>
        </div>
        <button type="submit" class="btn btn-danger">Remover Linhas</button>
    </form>

    <form action="/remove_query" method="POST" class="mt-3" id="removeQueryForm">
        <div class="form-group">
            <label for="query_string">Query :</label>
            <input type="text" class="form-control" id="query_string" name="query_string" placeholder="Ex: coluna1 == 'A'">
        </div>
        <div class="form-group">
            <label for="comment">Comentário (Opcional):</label>
            <input type="text" class="form-control" id="comment" name="comment" placeholder="Adicione um comentário..."></input>
        </div>
        <button type="submit" class="btn btn-danger">Remover por Query</button>
    </form>
    <br>
    <form id="filter-form" method="post" action="{{ url_for('clean_data_routes.apply_filters') }}">
        <div>
            <!-- Campos para adicionar novo filtro -->
            <label for="filter_column">Coluna:</label>
            <select id="filter_column" name="filter_column">
                <option value="">Escolha uma coluna</option>
                {% for coluna in column_names %}
                    <option value="{{ coluna }}">{{ coluna }}</option>
                {% endfor %}
            </select>
    
            <label for="filter_operator">Operador:</label>
            <select id="filter_operator" name="filter_operator">
                <option value="equals">Igual a</option>
                <option value="not_equals">Diferente de</option>
                <option value="greater_than">Maior que</option>
                <option value="less_than">Menor que</option>
                <option value="greater_than_or_equal">Maior ou igual a</option>
                <option value="less_than_or_equal">Menor ou igual a</option>
            </select>
    
            <label for="filter_value">Valor:</label>
            <input type="text" id="filter_value" name="filter_value" placeholder="Digite um valor">
    
            <!-- Botão para adicionar filtro ao formulário -->
            <button type="button" onclick="addFilter()">Adicionar Filtro</button>
        </div>
    
        <!-- Seção de lógica de filtro (AND/OR) -->
        <label>Lógica de Filtro:</label>
        <select id="filter_logic" name="filter_logic" onchange="setFilterLogic(this.value)">
            <option value="&" {% if filter_logic == '&' %}selected{% endif %}>E (AND)</option>
            <option value="|" {% if filter_logic == '|' %}selected{% endif %}>OU (OR)</option>
        </select>
    
        <!-- Campo oculto para armazenar a lógica de filtro selecionada -->
        <input type="hidden" id="filter_logic_hidden" name="filter_logic" value="and">
    
        <!-- Lista de filtros atuais -->
        <div id="filters-list" class="mt-3">
            <h5>Filtros Atuais:</h5>
            <ul id="filter-list">
                <!-- Lista de filtros aplicados, clicáveis para remoção -->
            </ul>
        </div>
    
        <!-- Sessão para armazenar filtros em campos ocultos -->
        <div id="filters-container"></div>

        <div class="form-group">
            <label for="comment">Comentário (Opcional):</label>
            <input type="text" class="form-control" id="comment" name="comment" placeholder="Adicione um comentário..."></input>
        </div>
        
        <!-- Botão para enviar filtros ao backend -->
        <button type="submit" name="action" value="remove_selected">Remover Itens Selecionados</button>
        <button type="submit" name="action" value="remove_not_selected">Remover Itens Não Selecionados</button>
    </form>
    {% if table %}
    <div class="mt-5">
        <h2>Tabela:</h2>
        <form id="pagination-form" method="get">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="start">Início:</label>
                    <input type="number" class="form-control" id="start" name="start" value="{{ start }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="lines_by_page">Linhas por Página:</label>
                    <input type="number" class="form-control" id="lines_by_page" name="lines_by_page" value="{{ lines_by_page }}">
                </div>
                <div class="form-group col-md-3 align-self-end">
                    <button type="submit" class="btn btn-primary">Aplicar</button>
                </div>
                <div class="form-group col-md-3 align-self-end">
                    Total de Linhas: {{ num_lines }}
                </div>
            </div>
        </form>
        <div class="mt-3">
            <button id="previous-btn" class="btn btn-secondary">Anterior</button>
            <button id="next-btn" class="btn btn-secondary">Próximo</button>
        </div>
        <div class="table-responsive">
            {{ table | safe }}
        </div>
    </div>
    {% endif %}
    <br>
    <br>
    <br>
</div>

{% include 'includes/loadingmodal.html' %}

<style>
    th {
        padding: 10px 20px; /* Adjust padding as needed */
        position: relative; /* Ensure relative positioning for child elements */
        text-align: left; /* Align text to the left if needed */
    }
    .sort-icon {
        position: absolute;
        right: 10px; /* Adjust as needed */
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.8em; /* Adjust font size as needed */
        pointer-events: none; /* Ensure icons don't capture clicks */
    }
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const headers = document.querySelectorAll("th[data-column]");
    headers.forEach(header => {
        const column = header.getAttribute("data-column");
        let currentUrl = new URL(window.location.href);
        const currentColumn = currentUrl.searchParams.get("sort_column");
        let sortIcon = header.querySelector(".sort-icon");
        if (currentColumn === column) {
            const currentOrder = currentUrl.searchParams.get("sort_order");
            if (sortIcon) {
                sortIcon.classList.remove("fa-arrow-up", "fa-arrow-down");
                sortIcon.classList.add(currentOrder === 'asc' ? "fa-arrow-up" : "fa-arrow-down");
            }
        } else if (sortIcon) {
            sortIcon.classList.remove("fa-arrow-up", "fa-arrow-down");
            sortIcon.classList.add("fa-sort"); // Default sort icon
        }

        header.style.cursor = 'pointer';
        header.addEventListener("click", function() {
            let newOrder = 'asc';
            if (currentColumn === column) {
                const currentOrder = currentUrl.searchParams.get("sort_order");
                newOrder = currentOrder === 'asc' ? 'desc' : 'asc';
            }
            currentUrl.searchParams.set("sort_column", column);
            currentUrl.searchParams.set("sort_order", newOrder);
            window.location.href = currentUrl.href;
        });
    });

    // Show modal when any form is submitted
    document.getElementById('removeColumnsForm').addEventListener('submit', function() {
        $('#loadingModal').modal('show');
    });

    document.getElementById('removeRowsForm').addEventListener('submit', function() {
        $('#loadingModal').modal('show');
    });

    document.getElementById('removeQueryForm').addEventListener('submit', function() {
        $('#loadingModal').modal('show');
    });

    document.getElementById('removeNullsForm').addEventListener('submit', function() {
        $('#loadingModal').modal('show');
    });

    document.getElementById('previous-btn').addEventListener('click', function() {
        let start = parseInt(document.getElementById('start').value) || 0;
        const linesByPage = parseInt(document.getElementById('lines_by_page').value) || 100;
        if (start > 0) {
            start = Math.max(start - linesByPage, 0);
        }
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('start', start);
        window.location.search = urlParams.toString();
    });

    document.getElementById('next-btn').addEventListener('click', function() {
        const start = parseInt(document.getElementById('start').value) || 0;
        const linesByPage = parseInt(document.getElementById('lines_by_page').value) || 100;
        const newStart = start + linesByPage;
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('start', newStart);
        window.location.search = urlParams.toString();
    });

    document.getElementById('select_all').addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('.column-checkbox');
        checkboxes.forEach(checkbox => checkbox.checked = this.checked);
    });

    document.getElementById('select_all_null').addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('.null-column-checkbox');
        checkboxes.forEach(checkbox => checkbox.checked = this.checked);
    });
});

function addFilter() {
    // Obtenha os valores dos campos de filtro
    const column = document.getElementById('filter_column').value;
    const operator = document.getElementById('filter_operator').value;
    const value = document.getElementById('filter_value').value;

    // Verifique se todos os campos estão preenchidos
    if (!column || !operator || !value) {
        alert('Preencha todos os campos para adicionar um filtro.');
        return;
    }

    // Crie um identificador único para o filtro
    const filterId = `filter-${column}-${operator}-${value}`;

    // Adicione um novo filtro à lista visível
    const filterList = document.getElementById('filter-list');
    const filterItem = document.createElement('li');
    filterItem.textContent = `${column} ${operator} ${value}`;
    filterItem.setAttribute('data-id', filterId);
    filterItem.onclick = () => removeFilter(filterId);
    filterList.appendChild(filterItem);

    // Adicione um campo oculto para este filtro no formato JSON
    const filtersContainer = document.getElementById('filters-container');
    const hiddenInput = document.createElement('input');
    hiddenInput.type = 'hidden';
    hiddenInput.name = 'filters[]'; // Usar `filters[]` permite que seja lido como lista no Flask
    hiddenInput.value = JSON.stringify({ column, operator, value });
    hiddenInput.id = filterId;
    filtersContainer.appendChild(hiddenInput);

    // Limpe os campos de entrada
    document.getElementById('filter_column').value = '';
    document.getElementById('filter_operator').value = 'equals';
    document.getElementById('filter_value').value = '';
}

function removeFilter(filterId) {
        // Remova o filtro da lista visível
        const filterList = document.getElementById('filter-list');
        const filterItem = filterList.querySelector(`li[data-id="${filterId}"]`);
        if (filterItem) filterList.removeChild(filterItem);

        // Remova o filtro oculto do formulário
        const filtersContainer = document.getElementById('filters-container');
        const hiddenInput = document.getElementById(filterId);
        if (hiddenInput) filtersContainer.removeChild(hiddenInput);
    }

function setFilterLogic(logic) {
        document.getElementById('filter_logic_hidden').value = logic;
    }
</script>

{% endblock %}
