{% extends "base.html" %} {% block title %}Análise Exploratória{% endblock %} {%
block content %}
<div class="container mt-5">
  <h2>Análise Exploratória</h2>
  {% if column_names %}
  <form
    action="/criar_tabela_continuo"
    method="GET"
    class="mt-3"
    id="colunaForm_cont"
  >
    <div class="form-group">
      <label>Selecione as colunas:</label><br>

      <div class="form-check">
          <input class="form-check-input" type="checkbox" id="select_all_cont" />
          <label class="form-check-label" for="select_all_cont">Selecionar Todas</label>
      </div>
      {% for coluna in column_names %}
      <div class="form-check form-check-inline">
        <input
          class="form-check-input data-cont-checkbox"
          type="checkbox"
          name="colunas"
          value="{{ coluna }}"
          id="cont_{{ coluna }}"
        />
        <label class="form-check-label" for="cont_{{ coluna }}"
          >{{ coluna }}</label
        >
      </div>

      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Gerar Tabela para Valores Numéricos</button>
  </form>

  <form action="/data_dict" method="GET" class="mt-3" id="colunaForm_dict">
    <div class="form-group">
      <label>Selecione as colunas:</label><br>

      <div class="form-check">
          <input class="form-check-input" type="checkbox" id="select_all" />
          <label class="form-check-label" for="select_all">Selecionar Todas</label>
      </div>
      {% for coluna in column_names %}
      <div class="form-check form-check-inline">
        <input
          class="form-check-input data-dict-checkbox"
          type="checkbox"
          name="colunas"
          value="{{ coluna }}"
          id="dict_{{ coluna }}"
        />
        <label class="form-check-label" for="dict_{{ coluna }}"
          >{{ coluna }}</label
        >
      </div>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">
      Gerar Dicionário de Dados
    </button>
  </form>

  {% if table %}
  <div class="mt-5">
    <h2>Tabela:</h2>
    <div class="table-responsive">{{ table | safe }}</div>
    <a href="#" class="btn btn-success mt-3" id="downloadLink">Download CSV</a>
    <button class="btn btn-secondary mt-3" id="addTableToHistoryButton">Adicionar Tabela a Histórico</button>
  </div>
  {% endif %}

  <br>
  <form action="/completude_graph" method="GET" class="mt-3" id="colunaForm_dict">
    <div class="form-group">
      <label>Selecione as colunas:</label><br>

      <div class="form-check">
          <input class="form-check-input" type="checkbox" id="select_all_completude" />
          <label class="form-check-label" for="select_all_completude">Selecionar Todas</label>
      </div>
      {% for coluna in column_names %}
      <div class="form-check form-check-inline">
        <input
          class="form-check-input completude-checkbox"
          type="checkbox"
          name="colunas"
          value="{{ coluna }}"
          id="completude_{{ coluna }}"
        />
        <label class="form-check-label" for="completude_{{ coluna }}"
          >{{ coluna }}</label
        >
      </div>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">
      Gerar gráfico de completude
    </button>
  </form>

  <br>
  <form id="chart-form" method="post" action="{{ url_for('plot_graph') }}">
    <div>
        <!-- Campos para definir as colunas e suas unidades -->
        <label for="custom_title">Título Personalizado (opcional):</label>
        <input type="text" id="custom_title" name="custom_title" placeholder="Digite um título para o gráfico"><br>
        <label for="x_column">Coluna X:</label>
        <select id="x_column" name="x_column">
            <option value="">Escolha uma coluna</option>
            {% for coluna in column_names %}
                <option value="{{ coluna }}">{{ coluna }}</option>
            {% endfor %}
        </select>

        <label for="x_unit">Unidade para X (opcional):</label>
        <input type="text" id="x_unit" name="x_unit" placeholder="Ex: metros"><br>

        <label for="y_column">Coluna Y:</label>
        <select id="y_column" name="y_column">
            <option value="">Escolha uma coluna</option>
            {% for coluna in column_names %}
                <option value="{{ coluna }}">{{ coluna }}</option>
            {% endfor %}
        </select>

        <label for="y_unit">Unidade para Y (opcional):</label>
        <input type="text" id="y_unit" name="y_unit" placeholder="Ex: segundos"><br>

        <!-- Seleção do tipo de gráfico -->
        <label for="chart_type">Tipo de Gráfico:</label>
        <select id="chart_type" name="chart_type">
            <option value="line">Linha</option>
            <option value="scatter">Dispersão</option>
            <option value="bar">Barra</option>
            <option value="histogram">Histograma</option>
        </select><br>

        <!-- Tamanho da imagem com opção de unidade de medida -->
        <label for="image_size">Tamanho da Imagem:</label>
        <input type="text" id="image_size" name="image_size" value="10x6" required>
        
        <label for="size_unit">Unidade de Medida:</label>
        <select id="size_unit" name="size_unit">
            <option value="in">Polegadas</option>
            <option value="cm">Centímetros</option>
        </select><br>

        <label for="point_color">Cor dos Pontos:</label>
        <input type="color" id="point_color" name="point_color" value="#ff0000"><br>

        <button type="submit">Criar Gráfico</button>
    </div>
</form>

<br>
  {% if image %}
  <h3>Gráfico Gerado:</h3>
  <img src="data:image/png;base64,{{ image }}" alt="Plot Image" class="img-fluid mt-3" />
  <a href="{{ url_for('download_plot') }}" class="btn btn-success mt-3" id="downloadLink">Download Gráfico</a>
    <!-- Button to trigger the add plot to history function -->
  <button class="btn btn-secondary mt-3" id="addPlotToHistoryButton">Adicionar Gráfico a Histórico</button>

  {% endif %}
  {% include 'includes/plothistorymodal.html' %}
{% endif %}
</div>
<br>
<script>
  document.addEventListener("DOMContentLoaded", function () {
      // Função para o botão de adicionar plot ao histórico
      const addPlotButton = document.getElementById("addPlotToHistoryButton");
      if (addPlotButton) {
          addPlotButton.addEventListener("click", function (event) {
              event.preventDefault();
              
              fetch("/add_plot_to_history")
                  .then(response => response.json())
                  .then(data => {
                      const modalId = data.status === "success" ? 'successModal' : 'errorModal';
                      new bootstrap.Modal(document.getElementById(modalId)).show();
                  })
                  .catch(error => {
                      new bootstrap.Modal(document.getElementById('errorModal')).show();
                      console.error("Error:", error);
                  });
          });
      }
  
      // Função para o botão de adicionar gráfico ao histórico
      const addTableButton = document.getElementById("addTableToHistoryButton");
      if (addTableButton) {
          addTableButton.addEventListener("click", function (event) {
              event.preventDefault();
              
              fetch("/add_table_to_history")
                  .then(response => response.json())
                  .then(data => {
                      const modalId = data.status === "success" ? 'successModal' : 'errorModal';
                      new bootstrap.Modal(document.getElementById(modalId)).show();
                  })
                  .catch(error => {
                      new bootstrap.Modal(document.getElementById('errorModal')).show();
                      console.error("Error:", error);
                  });
          });
      }
  
      // Função para o botão "Selecionar Todas"
      const selectAllCheckbox = document.getElementById('select_all');
      if (selectAllCheckbox) {
          selectAllCheckbox.addEventListener('change', function() {
              const checkboxes = document.querySelectorAll('.data-dict-checkbox');
              checkboxes.forEach(checkbox => checkbox.checked = selectAllCheckbox.checked);
          });
      }

      const selectAllCheckboxCont = document.getElementById('select_all_cont');
      if (selectAllCheckboxCont) {
          selectAllCheckboxCont.addEventListener('change', function() {
              const checkboxes = document.querySelectorAll('.data-cont-checkbox');
              checkboxes.forEach(checkbox => checkbox.checked = selectAllCheckboxCont.checked);
          });
      }

      const selectAllCheckboxCompletude = document.getElementById('select_all_completude');
      if (selectAllCheckboxCompletude) {
          selectAllCheckboxCompletude.addEventListener('change', function() {
              const checkboxes = document.querySelectorAll('.completude-checkbox');
              checkboxes.forEach(checkbox => checkbox.checked = selectAllCheckboxCompletude.checked);
          });
      }
  });
  </script>
{% endblock %}