<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Excel or CSV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Upload Excel or CSV</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data" class="upload-form">
            <div class="form-group">
                <input type="file" class="form-control-file" name="file" accept=".xlsx,.csv">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

        {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ error }}
        </div>
        {% endif %}

        {% if sheet_names %}
        <form action="/show_sheet" method="GET" class="mt-3">
            <div class="form-group">
                <label for="sheet">Selecione uma sheet:</label>
                <select name="sheet" id="sheet" class="form-control">
                    {% for sheet in sheet_names %}
                    <option value="{{ sheet }}" {% if sheet == selected_sheet %} selected {% endif %}>{{ sheet }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Mostrar Sheet</button>
            <input type="hidden" name="file" value="{{ file_name }}">
        </form>
        {% endif %}


        
        

        {% if table %}
        <form action="/criar_tabela_continuo" method="POST" class="mt-3">
            <div class="form-group">
                <label for="colunas">Selecione as colunas:</label>
                <select name="colunas[]" id="colunas" class="form-control" multiple>
                    {% for coluna in column_names %}
                    <option value="{{ coluna }}">{{ coluna }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Criar Tabela Contínua</button>
        </form>
        
        
        <div class="mt-5">
            <h2>Tabela:</h2>
            {{ table | safe }}
        </div>
        <form action="/download_csv" method="GET" class="mt-3">
            <input type="hidden" name="file_name" value="{{ file_name }}">
            <button type="submit" class="btn btn-success">Download Full CSV</button>
        </form>
            {% if sheet_names %}
            <form action="/download_sheet" method="GET" class="mt-3">
                <input type="hidden" name="file_name" value="{{ file_name }}">
                <input type="hidden" name="sheet" value="{{ sheet }}">
                <button type="submit" class="btn btn-success">Download Sheet CSV</button>
            </form>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
