{% extends "base.html" %}

{% block title %}Projetos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Selecione ou Adicione um Projeto</h2>
    {% if projects %}
        <ul style="list-style: none; padding: 0;">
            {% for project in projects %}
                <li style="margin-bottom: 8px;">
                    <a href="{{ url_for('projects_routes.select_project', project_name=project) }}" style="text-decoration: none;">{{ project }}</a>

                    <form method="POST" action="{{ url_for('projects_routes.delete_project', project_name=project) }}" style="display: inline;" onsubmit="return confirmDelete('{{ project }}');">
                        <button type="submit" style="border: none; background: none; color: black; cursor: pointer; margin-right: 6px;">x</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Você não tem projetos ainda.</p>
    {% endif %}
    
    <!-- Formulário para Adicionar Novo Projeto -->
    <form method="POST">
        <label for="project_name">Novo Projeto:</label>
        <input type="text" name="project_name" required>
        <button type="submit">Adicionar Projeto</button>
    </form>
</div>

<script>
    function confirmDelete(projectName) {
        const input = prompt(`Digite o nome do projeto para confirmar a exclusão: "${projectName}"`);
        return input === projectName;
    }
</script>

{% endblock %}
