{% extends "base.html" %}

{% block title %}Gráficos Recomendados{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Gráficos Recomendados</h2>
    <ul class="list-group mt-3">
        <li class="list-group-item">
            <a href="{{ url_for('pages_routes.base_analysis') }}">Análise Preliminar</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('pages_routes.collar') }}">Collar</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('survey_routes.survey') }}">Survey</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('pages_routes.teores') }}">Teores</a>
        </li>
    </ul>
</div>
{% endblock %}
