{% extends "base.html" %}

{% block title %}Upload Files{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Upload Excel or CSV</h2>
    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" class="form-control-file" name="files" accept=".xlsx,.csv" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

    {% if error %}
    <div class="alert alert-danger mt-3" role="alert">
        {{ error }}
    </div>
    {% endif %}
</div>
{% endblock %}
