{% extends "base.html" %}

{% block title %}Upload Files{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Upload Excel or CSV</h2>
    <form id="uploadForm" action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" class="form-control-file" name="files" accept=".xlsx,.csv" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

    {% if error %}
    <div class="alert alert-danger mt-3" role="alert">
        {{ error }}
    </div>
    {% endif %}
</div>

{% include 'includes/loadingmodal.html' %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {

        // Mostrar modal ao enviar o formulário
        $('#uploadForm').on('submit', function() {
            $('#loadingModal').modal('show');
        });
    });
</script>
{% endblock %}
