.content-wrapper {
  overflow: auto;
  height: calc(
    100vh - 56px
  ); /* Adjust for navbar height */ /* Or set a fixed height */
}

.main-content {
  position: relative;
  top: 0px; /* Adjust for navbar height */
  left: 0;
  width: 100%;
}

/* NAVBAR */
.navbar-custom {
  background-color: #1d265f; /* Cor personalizada da navbar */
  height: 56px; /* Added height for alignment */
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-text {
  color: #f8f9fa; /* Cor do texto da navbar */
}
.navbar-text {
  color: white;
}
.nav-item.logout-link {
  margin-right: 50px; /* Adiciona um offset à esquerda para o link 'Logout' */
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column; /* Organiza os elementos verticalmente */
  width: 250px;
  background-color: #f8f9fa;
  padding: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  overflow: hidden; /* Evita vazamento de conteúdo */
}

.sidebar h4 {
  background-color: #1d265f; /* Fundo azul */
  color: #f8f9fa; /* Texto branco */
  padding: 15px;
  margin: -15px -15px 10px -15px; /* Ajusta o espaçamento */
  cursor: pointer;
  height: 56px; /* Altura fixa para alinhamento */
  display: flex;
  align-items: center; /* Alinha verticalmente o texto */
}

.list-group {
  flex-grow: 1; /* Permite que a lista ocupe o espaço disponível */
  overflow-y: auto; /* Adiciona rolagem apenas à lista */
  margin-bottom: 20px; /* Espaçamento inferior para separar dos botões */
}

.list-group-item {
  margin: 0; /* Ajusta a margem */
  word-wrap: break-word; /* Permite quebra de texto */
  overflow-wrap: break-word; /* Garante quebra em navegadores mais novos */
}

.list-group-item a {
  white-space: normal; /* Permite quebras de linha */
  text-overflow: ellipsis; /* Exibe "..." se texto for muito longo */
  text-decoration: none;
  color: #007bff;
  display: block;
}

.list-group-item a:hover {
  text-decoration: underline;
}

.list-group-item.selected {
  background-color: #d1ecf1 !important;
}

.selected {
  background-color: #a6d6de;
}

.button-container {
  position: sticky; /* Botões ficam fixos no final da sidebar */
  bottom: 0;
  background-color: #f8f9fa; /* Fundo para destacar os botões */
  padding: 15px;
  border-top: 1px solid #ddd; /* Linha divisória para separar os botões */
  text-align: center;
}

.button-container .btn {
  width: 90%; /* Ajusta o tamanho dos botões */
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
}

.small-btn {
  width: 90%;
  margin: 10px 0;
  padding: 5px 10px;
  font-size: 12px;
}

#toggle-sidebar-btn {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1001;
  background-color: transparent;
  border: none;
}

#toggle-sidebar-btn img {
  height: 40px;
}


/*HISTORY PAGE*/
.history-list {
  position: relative; /* Make the list positionable */
  top: 20px; /* Adjust for navbar height */
  width: 100%; /* Ensure it fills the container */
}


/* DOWNLOAD PAGE */
.download-list {
  position: relative; /* Make the list positionable */
  top: 20px; /* Adjust for navbar height */
  width: 100%; /* Ensure it fills the container */
}

.table-responsive {
  max-height: 650px; /* Adjust the height as needed */
  max-width: 1000px;
  overflow-x: auto;
  overflow-y: auto;
}

.table-responsive thead th {
  position: sticky;
  top: -5px;
  background-color: white; /* Adjust the background color as needed */
  z-index: 10; /* Ensure the header stays above other content */
  text-align: left;
}


/* DISCLAIMER */

.disclaimer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.disclaimer-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.disclaimer-content button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.disclaimer-content button:hover {
  background-color: #0056b3;
}
