.content-wrapper {
  overflow: auto;
  height: calc(
    100vh - 56px
  ); /* Adjust for navbar height */ /* Or set a fixed height */
}

.main-content {
  position: relative;
  top: 0px; /* Adjust for navbar height */
  left: 0;
  width: 100%;
}

/* NAVBAR */
.navbar-custom {
  background-color: #1d265f; /* Cor personalizada da navbar */
  height: 56px; /* Added height for alignment */
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #f8f9fa; /* Cor do texto da navbar */
}

/* SIDEBAR */
.sidebar {
  display: block;
  width: 250px;
  background-color: #f8f9fa;
  padding: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  overflow-y: clip;
}
.sidebar h4 {
  background-color: #1d265f; /* Fundo azul */
  color: #f8f9fa; /* Texto branco */
  padding: 15px;
  margin: -15px -15px 10px -15px; /* Ajusta o espaçamento */
  cursor: pointer;
  height: 56px; /* Added height for alignment */
  display: flex;
  align-items: center; /* Alinha verticalmente o texto */
}
.list-group-item {
    margin: 0px 0; /* Adjust margin as needed */
  }

  .button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.button-container .btn {
    width: 80%;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
}

.small-btn {
  width: 80%;
  margin: 10px 0;
  padding: 5px 10px;
  font-size: 12px;
}

.list-group-item a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#toggle-sidebar-btn {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1001;
  background-color: transparent;
  border: none;
}
#toggle-sidebar-btn img {
  height: 40px;
}

/* DOWNLOAD PAGE */
.download-list {
  position: relative; /* Make the list positionable */
  top: 20px; /* Adjust for navbar height */
  width: 100%; /* Ensure it fills the container */
}


.table-responsive {
  max-height: 400px; /* Adjust the height as needed */
  max-width: 1000px;
  overflow-x: auto;
  overflow-y: auto;
}

.table-responsive thead th {
  position: sticky;
  top: -5px;
  background-color: white; /* Adjust the background color as needed */
  z-index: 10; /* Ensure the header stays above other content */
  text-align: left;
}
